.button-pin {
	background-color: #283ED0;
	display: block;
	text-decoration: none;
}

.button-pin-img {
	margin: 0;
}

.button-pin-img img {
	opacity: 0.5;
	width: 100%;
	display: block;
	max-height: 25vh; /* Que ocupe el 25 así nos aseguramos que se vean los 3 botones*/
	object-fit: cover; /* Para que no se deforme la imagen */
}
.button-pin-img.is-nolink img {
	opacity: 1;
}

.button-pin-img img:hover {
	opacity: 1;
}



.button-pin-header {
	padding: 16px;
}

.button-pin-header h2 {
	font-weight: bold;
	font-size: 0.875rem; /* 14px */
	color: white;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
}