/********************************************/
/* Panel: card blanco con barra de color 	*/
/********************************************/

.panel {
	border-top-color: #283ED0;
	border-top-style: solid;
	border-top-width: 6px;
	background-color: white;
	padding: 48px;
}

